name: Publish

on:
  push:
    tags:
      - v*

jobs:
  images:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    strategy:
      matrix:
        base-image:
          - quay.io/kairos/core-opensuse-leap:v2.1.2
          - quay.io/kairos/core-ubuntu-20-lts:v2.1.2
          - quay.io/kairos/core-ubuntu-22-lts:v2.1.2
        rke2-version:
          - v1.26.4+rke2r1
          - v1.25.3+rke2r1
          - v1.25.2+rke2r1
          - v1.25.0+rke2r1
          - v1.24.7+rke2r1
          - v1.24.6+rke2r1
          - v1.24.4+rke2r1
          - v1.23.12+rke2r1
          - v1.23.13+rke2r1
          - v1.23.10+rke2r1
          - v1.22.15+rke2r1
          - v1.22.13+rke2r1
        platform:
          - linux/amd64
    env:
      REGISTRY: quay.io
      REGISTRY_USER: ${{ secrets.QUAY_USERNAME }}
      REGISTRY_PASSWORD: ${{ secrets.QUAY_PASSWORD }}
    steps:
      - uses: actions/checkout@v2
      - uses: docker-practice/actions-setup-docker@master
      - uses: earthly/actions-setup@v1
        with:
          version: "v0.6.30"
      - run: echo $REGISTRY_PASSWORD | docker login -u $REGISTRY_USER --password-stdin $REGISTRY
      - run: env | grep ACTIONS_ID_TOKEN_REQUEST > .env
      - run: env | grep REGISTRY >> .env
      - run: earthly --ci --push --platform=${{ matrix.platform }} +docker --RKE2_VERSION=${{ matrix.rke2-version }} --BASE_IMAGE=${{ matrix.base-image }}
      - run: earthly --ci +cosign --RKE2_VERSION=${{ matrix.rke2-version }} --BASE_IMAGE=${{ matrix.base-image }}

